.ordersTable {
    width:800px;
}

.orders th, .customerOrders th {
    width:25%;
    cursor: pointer;
}

.ordersTable tr:first-child th {
    background-color: RGBA(255,0,0,0.67);
    color: #fff;
    font-weight: bold;
}